doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title VCard for my honey
    link(rel='stylesheet', href='style.css')
    script(src='https://code.jquery.com/jquery-2.1.3.min.js')
  body
    #wrapper
      img#final(src='images/final.png')
      #people_wrapper
        #first_person
          img#first_person_body
          img#first_person_leg2
          img#first_person_leg1
          img#first_person_hand
        #second_person
          img#second_person_leg2
          img#second_person_leg1
          img#second_person_body
          img#second_person_hand
      #ball_wrapper
        img#thermometer(src='images/thermometer.png')
        #fire_stand
          img(src='images/fire_stand.png')
          img#fire(src='images/fire.png')
        #second_person_ball
        #first_person_ball
        #valentine_ball
        #full_system
          img#flask(src='images/flask.png')
          .clamp
          .clamp
    script(src='app.js')