doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title VCard for my honey
    link(rel='stylesheet', href='style.css')
  body
    #wrapper
      img#final(src='images/final.png')
      #people_wrapper
        #boy
          img#boy_body(src='images/boy_body.png')
          img#boy_leg2(src='images/boy_leg.png')
          img#boy_leg1(src='images/boy_leg.png')
          img#boy_hand(src='images/boy_hand.png')
        #girl
          img#girl_leg2(src='images/girl_leg.png')
          img#girl_leg1(src='images/girl_leg.png')
          img#girl_body(src='images/girl_body.png')
          img#girl_hand(src='images/girl_hand.png')
      #ball_wrapper
        img#thermometer(src='images/thermometer.png')
        #fire_stand
          img(src='images/fire_stand.png')
          img#fire(src='images/fire.png')
        #girl_ball
        #boy_ball
        #valentine_ball
        #full_system
          img#flask(src='images/flask.png')
          .clamp
          .clamp
